button {
    border: none;
    width: 100%;
    font-size: 18px;
    padding: 8px 0;
    cursor: pointer;
    border: 1px royalblue solid;
    border-radius: 10px;
}
button.primary {
    background-color: royalblue;
    color: white;
}
button.primary:hover {
    background-color: white;
    color: royalblue;
}
